<h1 class="gallery-header">Gallery</h1>

<form (submit)="showGalleryForm($event)">
  <div class="password-form">
    <label><input name="password" [(ngModel)]="password" placeholder="password" class="input"/></label>
    <button [disabled]="passwordInputIsEmpty()" class="password-btn btn">Open form</button>
  </div>
</form>

<form *ngIf="showForm" (submit)="addImage($event)">
  <div class="image-form">
    <label><input name="imageTitle" [(ngModel)]="imageTitle" placeholder="Image title" class="image-form-input input"/></label>
    <label><input name="imageUrl" [(ngModel)]="imageURL" placeholder="Image URL"
                  class="image-form-input input"/></label>
    <button [disabled]="imageInputIsEmpty()" class="image-btn btn">Add image</button>
  </div>
</form>

<hr/>

<div class="gallery-block">
  <app-image *ngFor="let image of imagesArray" [URL]="image.imageURL" [title]="image.imageTitle"></app-image>
</div>

